header {
  position : sticky;
  top: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.prehead {
  width: 100%;
  background: var(--color-light-red);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background: #111;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
}

.header li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header li a:hover {
  color: var(--color-light-red);
}



.header li a {
  color: white;
  padding: 0;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.button {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid white;
}

.button:hover {
  background: var(--color-light-red);
  color: var(--color-dark-background) !important;
  transition: all ease 250ms;
}

.logowrap {
  display: flex;
  flex-grow: 2;
}

.logoimage {
  width: 50px;
  height: 50px;
}

.event_wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}

.event_wrapper .breaker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.event_wrapper .breaker:first-of-type {
  margin-right: 15px;
}

.event_wrapper .breaker p {
  margin: 0;
  line-height: 1.2rem;
}

.event_wrapper .breaker h2 {
  font-size: 2rem;
  letter-spacing: -6px;
}

.event_wrapper .breaker h3 {
  font-size: .8rem;
  letter-spacing: -2px;
}

.menu {
  align-items: flex-end;
}

.menu > ul {
  justify-content: flex-end;
}